<ion-header>
  <ion-toolbar>
    <ion-title text-center color="ion-color-danger-shade">
      PRIME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="logo-div" ion-text text-center>
      <img src="assets/imgs/logo.png">
  </div>
  <div class="input-div">
    <div>
      <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input placeholder="Your email address" [(ngModel)]="userLoginDetails.loginId"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [type]="passwordType" placeholder="Your password" [(ngModel)]="userLoginDetails.password"></ion-input>
        <ion-icon name="eye" slot="end" margin-top (click)="displayPassword('eye')" *ngIf="displayEyeInd"></ion-icon>
        <ion-icon name="eye-off" slot="end" margin-top (click)="displayPassword('eyeOff')" *ngIf="!displayEyeInd"></ion-icon>
      </ion-item>
      <ion-row>
        <ion-col>
          <p>Signing in indicates you have <strong>read and agree</strong> to our <span class="terms-condition">Terms and Conditions</span></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>     
          <ion-button expand="full" shape="round"(click)="login()">Sign In</ion-button>
        </ion-col>
      </ion-row>
      <ion-row (click)="openRegisterPage()">
        <ion-col>     
          <ion-button expand="full" shape="round">Register</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="policy-weblink" (click)="openResetPasswordPage()">
        <ion-col>     
          <p ion-text text-left class="ion-margin-start">Reset Password</p>
        </ion-col>
      </ion-row>
      <ion-row  class="ion-margin-start" class="policy-weblink">
          <ion-col>     
            <p class="ion-margin-start">www.ezcliniq.com</p>
          </ion-col>
          <ion-col>     
            <p>Privacy Policy</p>
              </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
