.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  .logo-div {
    img {
      width: 40%;
    }
  }
  .input-div {
    background: #fff;
    border-radius: 10px;
    p {
      text-align: center;
    }
    span {
        color: skyblue; 
    }
    .policy-weblink {
        margin-top: -10px;
        p {
            color: #169aef;
        }
    }
  }
  
  