<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register with Digiprez</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p ion-text text-center>Please fill in the details exactly as per MCI records, this will help us to onboard you faster</p>
    <form [formGroup]="registerForm" padding>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Registration Number *</ion-label>
          <ion-input formControlName="registrationNumber" type="number"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.registrationNumber.valid  && (registerForm.controls.registrationNumber.dirty)" class="error-message">
          <p>Please enter valid number</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Registered State *</ion-label>
          <ion-input formControlName="registrationState" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.registrationState.valid  && (registerForm.controls.registrationState.dirty)" class="error-message">
          <p>Please enter the State name you have registered.</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Name *</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.name.valid  && (registerForm.controls.name.dirty)" class="error-message">
        <p>Please enter your father name (as per MCI records).</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Father Name *</ion-label>
          <ion-input formControlName="fatherName" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.fatherName.valid  && (registerForm.controls.fatherName.dirty)" class="error-message">
          <p>Please enter your father name (as per MCI records).</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Qualification *</ion-label>
          <ion-input formControlName="qualification" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.qualification.valid  && (registerForm.controls.qualification.dirty)" class="error-message">
          <p>Please enter your qualification(s).</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Qualification Year *</ion-label>
          <ion-input formControlName="qualificationYear" type="number"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.qualificationYear.valid  && (registerForm.controls.qualificationYear.dirty)" class="error-message">
          <p>Please enter your qualification year (as per MCI records).</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Speciality *</ion-label>
          <ion-input formControlName="speciality" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.speciality.valid  && (registerForm.controls.speciality.dirty)" class="error-message">
          <p>Please enter your speciality.</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Mobile *</ion-label>
          <ion-input formControlName="mobileNumber" type="number"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.mobileNumber.valid  && (registerForm.controls.mobileNumber.dirty)" class="error-message">
          <p>Please enter valid mobile number.</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Email *</ion-label>
          <ion-input formControlName="emailAddress" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.emailAddress.valid  && (registerForm.controls.emailAddress.dirty)" class="error-message">
          <p>Please enter valid email address.</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Pincode *</ion-label>
          <ion-input formControlName="pincode" type="number"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.pincode.valid  && (registerForm.controls.pincode.dirty)" class="error-message">
          <p>Pincode should be 6 digits.</p>
        </ion-item>
      </ion-list>
    </form>    
    <p ion-text text-center>Proceeding to verification, indicates you have read and agree to our Terms and Conditions</p>
    <ion-button expand="full" shape="round"(click)="openloginPage()" [disabled]="!registerForm.valid">Send Verification Code</ion-button>
  </div>
</ion-content>
