<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
     <form [formGroup]="resetYourPassword" padding>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input placeholder="Your email address" formControlName="emailId" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="!resetYourPassword.controls.emailId.valid  && (resetYourPassword.controls.emailId.dirty)" class="error-message">
            <p>Please enter valid number</p>
          </ion-item>
        </ion-list>
      </form>
      <ion-button expand="full" shape="round"(click)="resetPassword()" [disabled]="!resetYourPassword.valid">Reset Your Password</ion-button>
  </div>
</ion-content>
