// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-content {
    --background: url('assets/imgs/bg.jpeg');
    --background-position: fixed;
    --background-repeat:   no-repeat;
    --background-size: cover;
}

ion-toolbar {
    --color: #fff;
    --background: #169aef !important;
}

.error-message {
    color: red;
    font-size: 0.8em;
}