<ion-header>
  <ion-toolbar>
    <ion-title>MY PRACTICE</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <div>
    <ion-card>
        <h3 text-center>Welcome Dr.John Doe</h3>
    </ion-card>
    <ion-card class="dashboard-card">
      <ion-row>
        <ion-col>
            <img src="assets/custom_icons/newuser.svg">
            <p>New Patient</p>
        </ion-col>
        <ion-col>
            <img src="assets/custom_icons/phonesearch.svg">
            <p>Search</p>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="dashboard-card">
        <ion-row>
          <ion-col>
              <span class="count">12</span>
              <img src="assets/custom_icons/reviewreports.svg">
              <p>Review Reports</p>
          </ion-col>
          <ion-col>
              <span class="count">2</span>
              <img src="assets/custom_icons/followup.svg">
              <p>Follow Ups</p>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="dashboard-card">
          <ion-row>
            <ion-col>
                <span class="count">0</span>
                <img src="assets/custom_icons/schedule.svg">
                <p>Schedule</p>
            </ion-col>
            <ion-col>
                <span class="count">102</span>
                <img src="assets/custom_icons/requesttime.svg">
                <p>New Requests</p>
            </ion-col>
          </ion-row>
        </ion-card>
  </div>
</ion-content>
  