ion-content {
  --background: none;
  .dashboard-card {
    ion-row {
      ion-col:nth-of-type(odd) {
        border-right: 1px solid lightgray;
      }
      .count {
        border: 1px solid red;
        width: 15%;
        height: 15%;
        border-radius: 35px;
        background: brown;
        display: inline-block;
        position: absolute;
        left: 80%;
        color: #fff;
        font-weight: bold;
        text-align: center;
        font-size: 0.8em;
      }
      img {
        width: 40%;
        margin: 10px auto 0;
      }
      p {
          text-align: center;
      }
    }
  }
}
